@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Protest+Riot&display=swap');

.slider {
    position: relative;
    width: 100%;
    height: 700px;
  }
  
  .slides{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    transition: background-image 0.3s ease;
  }
  
  .left,
  .Right {
    font-size: 24px;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .left {
    left: 10px;
  }
  
  .Right {
    right: 10px;
  }
 
 
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 2;
  }
  
  .content h3 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .content p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .content button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #b2744c;
    color: white;
    border: none;
    font-family: "Oswald", serif;
  font-weight: 500;
  font-style: normal;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .content button:hover {
    background-color: #8f5c38;
  }
  