.container3 {
  display: flex;
  height: 100vh;
}

.DashHome {
  flex: 1;
  box-sizing: border-box;
}

.newProduct {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px; 
}

.addProductTitle {
  font-size: 24px;
  font-weight: bold;
  color: #b2744c;
  margin-bottom: 20px;
  text-align: center;
}

.addProductForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.addProductItem {
  display: flex;
  flex-direction: column;
}

.addProductItem > label {
  color: gray;
  font-weight: 600;
  margin-bottom: 10px;
}

.addProductItem > input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.addProductButton {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #b2744c;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.addProductButton:hover {
  background-color: #a06333; 
}

.productList {
  margin-top: 30px; 
}
/* New styles to display the image preview */
.imagePreview {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-top: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.productImage {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.productList h2 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.productItem {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.productItem p {
  margin: 5px 0;
}

.productItem strong {
  font-weight: bold;
}
