.home{
    top: 0;
    height: 100vh;
}

.inside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    padding: 20px;
}
.inside p{

font-size: 22px;
width: 650px;
}
.pp{
font-size: 45px;
}
.btn{
    width: 150px;
    height: 50px;
    border-radius: 15px;
    border: none;
    font-size: 16px;
}